
#nomor{
    background-color:white;
    border:1px solid #5558ff;
    width:100%;
    height:40px;
    border-radius:3px;
}

.tombolWA{
        display:flex;
        background-color:white;
        border-radius:5px;
        padding:2px;
        border:1px solid #3d3d3d;
        margin-left:10px;
        margin-right:10px;
        
    }
    .tombolWA:hover {
        background-color:#3d3d3d;
        color:#fff;
        
    }
   .bosan {
       display:flex;
       
       align:center;
       margin-left:12px;
       margin-right:12ppx;
   }
   .kurangberuntung{
     
       margin-left:33px;
   }
   .capek {
     
       margin-left:12px;
   }
       .hanyaOrangYang {
      margin-left:15px;
      margin-right:15px;
        border:1px solid #8e8e8e;
        padding:2px;
        background-color:white;
        border-radius:4px;
        padding:8px;
        width:320px;
        margin-top:18px;
       
    }
    .kadangTidakDi {
        margin-left:5px;
        margin-right:5px;
    }
    .anggapAda {
        background-color:#91ff80;
        height:40px;
        width:60px;
        border-radius:3px;
    }
    .anggapAda:hover{
        background-color:yellow;
        
    }
        .inSchool {
        background-color:#ff2a15;
        height:40px;
        width:60px;
        border-radius:3px;
    }
    .inSchool:hover{
        background-color:yellow;
        
    }
    